<section id="section-{{ section.id }}" class="Section" data-section-id="{{ section.id }}" data-section-type="timeline">
  <div class="Timeline">
    <div class="Timeline__ListItem">
      {%- for block in section.blocks -%}
      <div {{ block.shopify_attributes }} class="Timeline__Item {% if forloop.first %}is-selected{% endif %}" data-index="{{ forloop.index0 }}">
        <div class="Timeline__ImageWrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}" {% if block.settings.image %}style="background: url({{ block.settings.image | img_url: '1x1' }})"{% endif %}>
          {% comment %}
            {%- if block.settings.image -%}
            <div class="Timeline__Image Image--lazyLoad hide-no-js" data-bgset="{{ block.settings.image | img_url: 'x650' }} [(max-width: 640px)] | {{ block.settings.image | img_url: '1000x' }}"></div>

            <noscript>
              <div class="Timeline__Image" style="background-image: url({{ block.settings.image | img_url: '1000x' }})"></div>
            </noscript>
            {%- else -%}
            <div class="Timeline__Image">
              <div class="PlaceholderBackground">                
                {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'PlaceholderBackground__Svg PlaceholderSvg--dark' }}
              </div>
            </div>
            {%- endif -%}
          {% endcomment %}
          
          <div class="Timeline__Image">
            <div class="PlaceholderBackground-cancel">
              <div class="owl-carousel">
                {%- if block.settings.image -%}
                <div class="item">
                  <img src="{{ block.settings.image | img_url: 'x650' }} [(max-width: 640px)] | {{ block.settings.image | img_url: '1000x' }}" alt="slide">
                </div>
                {%- endif -%}
                {%- if block.settings.image2 -%}
                <div class="item">
                  <img src="{{ block.settings.image2 | img_url: 'x650' }} [(max-width: 640px)] | {{ block.settings.image2 | img_url: '1000x' }}" alt="slide">
                </div>
                {%- endif -%}
                {%- if block.settings.image3 -%}
                <div class="item">
                  <img src="{{ block.settings.image3 | img_url: 'x650' }} [(max-width: 640px)] | {{ block.settings.image3 | img_url: '1000x' }}" alt="slide">
                </div>
                {%- endif -%}
                {%- if block.settings.image4 -%}
                <div class="item">
                  <img src="{{ block.settings.image4 | img_url: 'x650' }} [(max-width: 640px)] | {{ block.settings.image4 | img_url: '1000x' }}" alt="slide">
                </div>
                {%- endif -%}
                
              </div>
              {% comment %}
              {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
              {{ placeholder | placeholder_svg_tag: 'PlaceholderBackground__Svg PlaceholderSvg--dark' }}
              {% endcomment %}
            </div>
          </div>
        </div>
        {%- capture section_inner -%}
        {%- if block.settings.subheading != blank or block.settings.heading != blank -%}
        <header class="Timeline__Header SectionHeader SectionHeader--center">
          {%- if block.settings.subheading != blank -%}
          <h1 class="SectionHeader__Heading Heading u-h1">{{ block.settings.subheading | escape }}</h1>
          {%- endif -%}

          {%- if block.settings.heading != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1">{{ block.settings.heading | escape }}</h2>
          {%- endif -%}

          {%- if block.settings.content != blank -%}
          <div class="SectionHeader__Description Rte">
            {{ block.settings.content }}
          </div>
          {%- endif -%}
        </header>
        {%- endif -%}
        {%- endcapture -%}

        {%- if section_inner -%}
        <div class="Timeline__Inner">
          {{ section_inner }}
        </div>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>

    <div class="Timeline__Nav">
      <div class="Timeline__NavWrapper {% if section.blocks.size <= 3 %}Timeline__NavWrapper--center{% endif %}">
        {%- if section.blocks.size >= 2 -%}
        <button class="btn Timeline__NavItem opacity" id="nav-pre-next" type="button" data-index="0">Back</button>
        <button class="btn Timeline__NavItem" id="nav-next-pre" type="button" data-index="0">Next</button>
        {%- endif -%}
      </div>
      {%- if section.settings.footer-text != blank -%}
      <div class="foooter-textarea">
        {{section.settings.footer-text}}
      </div>
      {% endif %}
    </div>      
  </div>
</section>

<style>
  #section-{{ section.id }} .Timeline__ListItem {
    color: {{ section.settings.text_color }};
  }
  .opacity{
  	opacity:0.3;
  }
</style>
<script type="text/javascript">
  if(document.getElementById("nav-pre-next") && document.getElementById("nav-next-pre")){
    const totalSize = {{section.blocks.size}};  
    document.getElementById("nav-pre-next").addEventListener("click",function(){
      let dataN = document.getElementById("nav-next-pre").getAttribute("data-index");
      if(dataN <= 0){
        document.getElementById("nav-pre-next").setAttribute("data-index","0");
        document.getElementById("nav-next-pre").setAttribute("data-index","0");     
      }else{
        document.getElementById("nav-pre-next").setAttribute("data-index",parseInt(dataN)-1);
        document.getElementById("nav-next-pre").setAttribute("data-index",parseInt(dataN)-1);
        document.getElementById("nav-next-pre").classList.remove('opacity');
      }
      if(dataN <=1){
          document.getElementById("nav-pre-next").classList.add('opacity');
      }

    });

    document.getElementById("nav-next-pre").addEventListener("click", function(){
      let dataP = document.getElementById("nav-next-pre").getAttribute("data-index");
      if(dataP >= {{section.blocks.size | minus: 1 }} ){
          document.getElementById("nav-next-pre").setAttribute("data-index",parseInt(dataP));
          document.getElementById("nav-pre-next").setAttribute("data-index",parseInt(dataP));

      }else{
          document.getElementById("nav-next-pre").setAttribute("data-index",parseInt(dataP)+1);
          document.getElementById("nav-pre-next").setAttribute("data-index",parseInt(dataP)+1);
          document.getElementById("nav-pre-next").classList.remove('opacity');
      }
      if(dataP >= {{section.blocks.size | minus: 2 }} ){
         document.getElementById("nav-next-pre").classList.add('opacity');
      }
    });
  }
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<script type="text/javascript">
  
$(document).ready(function(){
  $('.owl-carousel').owlCarousel({
      loop:false,
      margin:0,
      nav:true,
      dots:false,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },
          1000:{
              items:1
          }
      }
  });
});


</script>


{% schema %}
{
	"name": "History slide image",
	"class": "shopify-section--bordered shopify-section--history",
	"settings": [],
	"blocks": [{
		"type": "item",
		"name": "Item",
		"settings": [{
				"type": "image_picker",
				"id": "image",
				"label": "First Image",
				"info": "450 x 650px .jpg recommended"
			},
			{
				"type": "image_picker",
				"id": "image2",
				"label": "Second Image",
				"info": "450 x 650px .jpg recommended"
			},
			{
				"type": "image_picker",
				"id": "image3",
				"label": "Third Image",
				"info": "450 x 650px .jpg recommended"
			},
			{
				"type": "image_picker",
				"id": "image4",
				"label": "Fourth Image",
				"info": "450 x 650px .jpg recommended"
			},
			{
				"type": "checkbox",
				"id": "apply_overlay",
				"label": "Apply overlay on image",
				"info": "Only applied on mobile. This can improve text visibility.",
				"default": true
			},
			{
				"type": "text",
				"id": "subheading",
				"label": "Heading Label",
				"default": "1"
			},
			{
				"type": "text",
				"id": "heading",
				"label": "Heading",
				"default": "Heading"
			},
			{
				"type": "richtext",
				"id": "content",
				"label": "Text",
				"default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
			}
		]
	}]
}
{% endschema %}